@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* Layout */
.Flex {
  display: flex;
  gap: 20px;
  width: 100%;
}
.Space-between {
  justify-content: space-between
}
.Flex-col {
  flex-direction: column;
}
.Sidebar {
  width: 114px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background: #FFF;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  display: flex;
	flex-direction: column;
	align-items: center;
}
.Content-wrapper {
  flex: 1;
}
.Navigation {
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  left: 0;
  right: 0;
  position: absolute;
  padding-left: 200px;
  overflow: clip;
}
.Navigation-list {
  height: 129px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.Navigation-link {
  color: #000;
  padding: 52px 63px 54px 54px;
font-family: Inter;
font-size: 20px;
font-weight: 500;
text-decoration: none;
position: relative;
}
.Navigation-link::after {
  content: "";
  height: 60%;
  width: 1px;
  position: absolute;
  right: -1px;
  top: 20%;
  background-color: #c4c4c4;
}


.Navigation-link:last-of-type::after {
  width: 0;
}

.Navigation-link.active {
  background-color: #00635B;
  color: white;
}
.Navigation-link.active::after {
  content: "";
  width: 0; 
  height: 0; 
  top: calc(50% - 20px);
  right: -20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #00635B;
  background-color: transparent; 
}
.Content-wrapper::before {
  content: "";
  height: 123px;
  display: block;
}
.Content {
  margin-top: 113px;
  margin-left: 114px;
  padding: 113px 70px
}
/* Layout */

/* Sidebar */
  .Sidebar > .header, .Sidebar > .footer {
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Sidebar > .footer {
    justify-self: flex-end;
  }
  .SideNav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 50px;
    min-height: 200px;
    flex: 1;
  }
  .SideNav-link {

  }
  .SideNav-link .icon {
    width: 36px;
    object-fit: contain;
  }
  .Avatar {
    background-color: #1D4ED8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    width: 45px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
  }
/* Sidebar */


/* Upload Cover Image */
.Upload-cover {
  height: 210px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px dashed #000;
}

.Upload-cover-icon {
  width: 33px;
  object-fit: contain;
}

.Upload-cover-title {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 159.5%;
  /* 22.33px */
}

.Upload-cover-subtitle {
  color: #979797;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 159.5%;
  /* 22.33px */
}
/* Upload Cover Image */

/* Image Preview */
.Cover-image-preview {
  border-radius: 20px;
  max-width: 595px;
  margin-bottom: 60px;
  box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.30);
  /* overflow: clip; */
}
.Cover-image-preview img {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.Cover-image-preview .header {
  border-radius: 20px 20px 0px 0px; 
  max-height: 320px;
  overflow: hidden;
}
.Cover-image-preview .footer {
  border-radius: 0 0 20px 20px;
  padding: 32px 26px 22px;
  background: #FFF;
}
/* Image Preview */
/* Buttons */
.Button {
  display: flex;
  background-color: transparent;
  outline: none;
  border: 0;
  gap: 12px;
  align-items: center; 
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: -0.09px;
}
.Button.red {
  color: #A80000;
}
.Button.green {
  color: #F4FBF7;
  font-size: 14px;
  background: #087B2F;
  padding: 6px 12px;
}
/* Buttons */

/* Fields */
.Field {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  flex-basis: 40%;
  text-transform: capitalize;
}
.Field-subtitle {
font-size: 15px;
font-weight: 400;
text-transform: lowercase;
}
.Field-wrapper {
  padding-bottom: 25px;
  padding-top: 23px;
  border-bottom: 1px solid #C4C4C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Field-wrapper:last-of-type, .last {
  border: 0;
}
/* Fields */


/* Input */
.Input {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 23px 26px;
}
.Question-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.Question-type {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
}
.Question-header {
  display: flex;
  justify-content: space-between;
}
.Question-form {
  margin-bottom: 20px;
  height: 0;
  visibility: hidden;
  transition: max-height 10s ease-in-out;
}
.Question-form.show {
  height: auto;
  visibility: visible;
  transition: max-height 10s ease-in-out;

}
.Question-form.hide {
  height: 0;
  visibility: hidden;
  transition: height 10s ease-in-out;
}
.Edit-icon {
  width: 18px;
  object-fit: contain;
}

.Switch-label {
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  box-sizing: border-box;
  min-width: 55px;
  display: inline-block;
}